@charset "UTF-8";

.jbmflickr {
    position: relative; 
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.jbmflickr .page {width: 100%; text-align: center;}
.jbmflickr .pager {clear: both; width: 100%; text-align: center;}
.jbmflickr .pager span {
    font-size: 50px;
    width: 16px;
    height: 16px;
    display: inline-block;
    color: #ddd;
    margin-right: 10px;
    cursor: pointer;
}
.jbmflickr span.cycle-pager-active {color:#D69746;}
.jbmflickr .flickr-item {display: inline-block; margin: 5px; text-align: center;}
.jbmflickr .flickr-item .description {position: absolute; bottom:0; background-color: white; display:none; border: thin solid #DDD; z-index:100;}
.jbmflickr .flickr-item .description .inner {padding: 2px; white-space:nowrap; font-size: 10pt; }

/* pagination */
.jbmflickr .arrow {
    position: absolute;
    top: 0;
    height: 90px;
    width: 38px;
    z-index: 100;
    cursor: pointer;
}
.jbmflickr .prev {
    background-image: url(images/arrows.png);
    background-position: -17px center;
    left: 0;
}
.jbmflickr .next {
    background-image: url(images/arrows.png);
    background-position: -65px 0;
    right: 0;
}

/* Location */
.jbmflickrmap-location {
    font-size: 1em;
    padding: 10px;
    border: thin solid black !important;
    width: 50%;
    border-radius: 5px;
}

/* Tag cloud */
.jbmflickr-tag-cloud {
    //width: 40%;
}
.jbmflickr-tag-cloud > a {
    text-decoration: none; 
    display: inline-block;
    border: thin solid #DDD;
    border-radius: 5px;
    padding: 2px 6px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.jbmflickr-tag-cloud > a:hover {
    background-color: #DDD;
}